<h1>Atendimento para <span id="chat-number">Nenhum cliente</span></h1>

<div id="messages">
  <% Object.values(messages).forEach(msg => { %>
    <div class="message <%= msg.sender === 'Você' ? 'my-message' : '' %>">
      <span class="sender"><%= msg.sender %>:</span>
      <span class="text"><%= msg.text %></span>
    </div>
  <% }) %>
</div>

<% if (number) { %>
  <div class="chat-input">
    <input type="hidden" id="chat-number-hidden" value="">
    <textarea id="messageInput" placeholder="Digite a mensagem..." rows="3"></textarea>
    <button onclick="sendMessage()">Enviar</button>
  </div>
<% } %>

<script src="js/chat.js"></script>
