<form id="forgotPasswordForm">
  <p id="errorMsg"></p>
  <label for="username2">Usuário</label>
  <input type="text" id="username2" placeholder="guest" required>
  <button type="submit">Enviar</button>
</form>
