<form id="forgotPasswordForm">
  <p id="errorMsg"></p>
  <label for="forgotPasswordUsername">Usuário</label>
  <input type="text" id="forgotPasswordUsername" placeholder="guest" required>
  <button type="submit">Enviar</button>
</form>
<script src="js/forgotPassword.js"></script>