<form id="loginForm">
  <p id="errorMsg"></p>
  <label for="username">Usuário</label>
  <input type="text" id="username" placeholder="guest" required>
  
  <div class="password-container">
    <label for="password">Senha</label>
    <button type="button" class="tab-button remove-style" data-tab="password-container" class="forgot-password">Esqueceu a senha?</button>
  </div>
  <input type="password" id="password" placeholder="*******" required>
  
  <div class="remember">
    <input type="checkbox" id="remember">
    <label for="remember">Lembrar de mim</label>
  </div>
  
  <button type="submit">Entrar</button>
</form>
<script src="js/login.js"></script>

