<form id="signupForm">
  <p id="errorMsg"></p>
  <label for="username">Usuário</label>
  <input type="text" id="signupUsername" placeholder="guest" required>
  
  <label for="password">Senha</label>
  <input type="password" id="signupPassword" placeholder="*******" required>

  <label for="password">Confirme a senha</label>
  <input type="password" id="confirmPassword" placeholder="*******" required>
  
  <button type="submit">Criar</button>
</form>
<script src="js/signup.js"></script>
