* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Define altura total da tela */
body {
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

/* Container principal */
.container {
  display: flex;
  width: 100%;
  background: white;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Lado esquerdo (branding) */
.left {
  height: 100vh;
  flex: 1;
  background-color: #0369a0;
  color: #f8fafc;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left div {
  width: 80%;
}

.left h1 {
  font-size: 32px;
  margin-bottom: 15px;
  font-weight: 700;
}

.left p {
  margin-bottom: 15px;
  color: rgba(248, 250, 252, 0.9);
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.feature {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.feature p {
  margin-top: 5px;
}

.feature-icon {
  font-size: 20px;
}

/* Lado direito (login) */
.right {
  flex: 1;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right p {
  font-size: 14px;
  text-align: center;
  color: gray;
  margin-bottom: 20px;
}

/* Abas Login/Cadastro */
.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #f1f5f9;
  padding: 4px;
  border-radius: 5px;
  width: 70%;
}

.tabs button {
  margin: 0 2px;
  flex: 1;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  background: none;
  color: #64748b;
}

.tabs button.active {
  background: #fff;
  color: #222;
}

.remove-style {
  background: none;
  color: #0369a0;
  font-size: 14px;
}

.remove-style:hover {
  background: none;
  color: #004070;
}

/* Formulário */
#login-form, #signup-form, #forgot-password-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

@media (min-width: 1700px) {
  .tabs, #login-form, #signup-form, #forgot-password-form {
    width: 50%;
  }
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.password-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.remember {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}

button {
  background-color: #0369a0;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
}

button:hover {
  background-color: #004070;
  color: white;
}

/* Responsividade */
@media (max-width: 768px) {
  .container {
    flex-direction: column-reverse; 
  }

  .left, .right {
    padding: 20px;
    width: 100%;
  }

  .tabs button {
    font-size: 14px;
  }
}

@media (max-width: 860px) {
  .tabs, #login-form, #signup-form {
    width: 70%;
  }
}