<form id="loginForm">
  <p id="errorMsg"></p>
  <label for="username">Usuário</label>
  <input type="text" id="username" placeholder="guest" required>

  <label for="company">Empresa vinculada</label>
  <input type="text" id="company" placeholder="company" required>
  
  <label for="password">Senha</label>
  <input type="password" id="password" placeholder="*******" required>
  
  <div class="remember">
    <input type="checkbox" id="remember">
    <label for="remember">Lembrar de mim</label>
  </div>
  
  <button type="submit">Entrar</button>
</form>
<script src="/js/seller/login.js"></script>

